In [1]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

importing libraries

In [2]:
with open('kodikoi.txt', 'r') as file:
    password = file.read().strip()

adding my password

In [3]:
str_conn = f'mysql+pymysql://root:{password}@localhost:3306/video_rental_shop'
cursor = create_engine(str_conn)

connecting to mySQL

In [4]:
query = '''
SELECT actor_name, total_movies
FROM (
    SELECT CONCAT(a.first_name, ' ', a.last_name) AS actor_name,
           COUNT(f.title) AS totalfilms
    FROM actor AS a
    LEFT JOIN actor_film AS af ON a.actor_id = af.actor_id
    LEFT JOIN film AS f ON f.film_id = af.film_id
    GROUP BY actor_name
) AS subquery
WHERE total_films > 0
ORDER BY total_films DESC;
'''
datos = pd.read_sql(query, cursor)
datos.head()

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'total_movies' in 'field list'")
[SQL:
SELECT actor_name, total_movies
FROM (
    SELECT CONCAT(a.first_name, ' ', a.last_name) AS actor_name,
           COUNT(f.title) AS totalfilms
    FROM actor AS a
    LEFT JOIN actor_film AS af ON a.actor_id = af.actor_id
    LEFT JOIN film AS f ON f.film_id = af.film_id
    GROUP BY actor_name
) AS subquery
WHERE total_films > 0
ORDER BY total_films DESC;
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(datos['actor_name'], datos['total_films'])
plt.xlabel('Actor Name')
plt.ylabel('Total Films')
plt.title('Total Films per Actor')

plt.xticks(rotation=45, ha='right')

plt.tight_layout()
plt.show()

In [ ]:
query = '''
SELECT COUNT(title) AS total_films , category_name 
FROM film AS f
LEFT JOIN category AS c ON f.category_id=c.category_id
WHERE category_name NOT IN ("UNKNOWN")
GROUP BY category_name
ORDER BY total_films DESC;
'''
datos_2 = pd.read_sql(query, cursor)
datos_2.head()

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(datos_2['category_name'], datos_2['total_films'])
plt.xlabel('Category')
plt.ylabel('Total Films')
plt.title('Total Films per Category')

plt.xticks(rotation=45, ha='right')

plt.tight_layout()
plt.show()

In [ ]:
query = '''
SELECT rental_dow, COUNT(store_id) AS totals
FROM rental AS r
LEFT JOIN inventory AS i ON r.inventory_id=i.inventory_id
GROUP BY rental_dow
ORDER BY totals DESC;
'''
datos_3 = pd.read_sql(query, cursor)
datos_3.head()

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(datos_3['rental_dow'], datos_3['totals'])
plt.xlabel('Day rented')
plt.ylabel('Total films')
plt.title('Total films rented per day of the week')

plt.xticks(rotation=45, ha='right')

plt.tight_layout()
plt.show()

In [ ]:
query = '''
SELECT return_dow, COUNT(store_id) AS totals
FROM rental AS r
LEFT JOIN inventory AS i ON r.inventory_id=i.inventory_id
GROUP BY return_dow
ORDER BY totals DESC;
'''
datos_4 = pd.read_sql(query, cursor)
datos_4.head()

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(datos_4['return_dow'], datos_4['totals'])
plt.xlabel('Day Returned')
plt.ylabel('Total Films')
plt.title('Total films returned per day of the week')

plt.xticks(rotation=45, ha='right')

plt.tight_layout()
plt.show()