In [1]:
from sqlalchemy import create_engine
import mysql.connector as conn
import pandas as pd
from datetime import datetime
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

importing libraries

In [2]:
with open('kodikoi.txt', 'r') as file:
    password = file.read().strip()

adding my password

In [8]:
actor = pd.read_csv('../data/cleaned/actors_clean.csv')
actor_film = pd.read_csv('../data/cleaned/actors_films_clean.csv')
category = pd.read_csv('../data/cleaned/categories_clean.csv')
film = pd.read_csv('../data/cleaned/films_category_clean.csv')
inventory = pd.read_csv('../data/cleaned/inventory_clean.csv')
rental = pd.read_csv('../data/cleaned/rental_clean.csv')

the clea dataframes

In [5]:
conexion = conn.connect(host='localhost',  
                       user='root',        
                       passwd=password,
                        database='video_rental_shop'
                       )

In [7]:
cursor = conexion.cursor()
cursor
c = cursor.execute

In [11]:
table_name = 'actor'
col_names = ','.join(actor.columns)

for i in range(actor.shape[0]):    
    
    valores = tuple(actor.iloc[i].values)   
    
    insert_query = f'insert into {table_name} ({col_names}) values {valores};'
    
    cursor.execute(insert_query)

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'actor.PRIMARY'

In [12]:
cursor.execute('select * from actor limit 2;')

for e in cursor:
    print(e)

(1, 'PENELOPE', 'GUINESS')
(2, 'NICK', 'WAHLBERG')

In [14]:
table_name = 'category'
col_names = ','.join(category.columns)

for i in range(category.shape[0]):    
    
    valores = tuple(category.iloc[i].values)   
    
    insert_query = f'insert into {table_name} ({col_names}) values {valores};'
    
    cursor.execute(insert_query)

In [15]:
cursor.execute('select * from category limit 2;')

for e in cursor:
    print(e)

('1', 'ACTION')
('10', 'GAMES')

In [16]:
table_name = 'film'
col_names = ','.join(film.columns)

for i in range(film.shape[0]):    
    
    valores = tuple(film.iloc[i].values)   
    
    insert_query = f'insert into {table_name} ({col_names}) values {valores};'
    
    cursor.execute(insert_query)

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`video_rental_shop`.`film`, CONSTRAINT `fk_film_category1` FOREIGN KEY (`category_id`) REFERENCES `category` (`category_id`))

In [ ]:
#str_conn = f'mysql+pymysql://root:{password}@localhost:3306/video_rental_shop'
#cursor = create_engine(str_conn)

connecting to mySQL

In [ ]:
print(actor.shape)
print(actor_film.shape)
print(category.shape)
print(film.shape)
print(inventory.shape)
print(rental.shape)

In [ ]:
#actor.to_sql(name='actor',con=cursor,if_exists='append',index=False) con alquemy

In [ ]:
query = '''

select *

    from actor

;
'''
datos = pd.read_sql(query, cursor)
datos.head()