In [1]:
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

importing libraries

In [2]:
with open('kodikoi.txt', 'r') as file:
    password = file.read().strip()

adding my password

In [3]:
str_conn = f'mysql+pymysql://root:{password}@localhost:3306/video_rental_shop'
cursor = create_engine(str_conn)

connecting to mySQL

In [12]:
actor = pd.read_csv('../data/cleaned/actors_clean.csv')
actor_film = pd.read_csv('../data/cleaned/actors_films_clean.csv')
category = pd.read_csv('../data/cleaned/categories_clean.csv')
film = pd.read_csv('../data/cleaned/films_category_clean.csv')
inventory = pd.read_csv('../data/cleaned/inventory_clean.csv')
rental = pd.read_csv('../data/cleaned/rental_clean.csv')

importing my data

In [13]:
print(actor.shape)
print(actor_film.shape)
print(category.shape)
print(film.shape)
print(inventory.shape)
print(rental.shape)

(200, 3)
(1000, 2)
(16, 2)
(1000, 10)
(1000, 3)
(1000, 9)

In [5]:
actor.to_sql(name='actor',con=cursor,if_exists='append',index=False)

200

In [11]:
film.to_sql(name='film',con=cursor,if_exists='append',index=False)

IntegrityError: (pymysql.err.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`video_rental_shop`.`film`, CONSTRAINT `fk_film_category1` FOREIGN KEY (`category_id`) REFERENCES `category` (`category_id`))')
[SQL: INSERT INTO film (film_id, title, description, rental_duration_days, rental_rate, length, replacement_cost, rating, special_features, category_id) VALUES (%(film_id)s, %(title)s, %(description)s, %(rental_duration_days)s, %(rental_rate)s, %(length)s, %(replacement_cost)s, %(rating)s, %(special_features)s, %(category_id)s)]
[parameters: ({'film_id': 1, 'title': 'ACADEMY DINOSAUR', 'description': 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 'rental_duration_days': 6, 'rental_rate': 0.99, 'length': 86, 'replacement_cost': 20.99, 'rating': 'PG', 'special_features': 'Deleted Scenes,Behind the Scenes', 'category_id': '6.0'}, {'film_id': 2, 'title': 'ACE GOLDFINGER', 'description': 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 'rental_duration_days': 3, 'rental_rate': 4.99, 'length': 48, 'replacement_cost': 12.99, 'rating': 'G', 'special_features': 'Trailers,Deleted Scenes', 'category_id': '11.0'}, {'film_id': 3, 'title': 'ADAPTATION HOLES', 'description': 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 'rental_duration_days': 7, 'rental_rate': 2.99, 'length': 50, 'replacement_cost': 18.99, 'rating': 'NC-17', 'special_features': 'Trailers,Deleted Scenes', 'category_id': '6.0'}, {'film_id': 4, 'title': 'AFFAIR PREJUDICE', 'description': 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank', 'rental_duration_days': 5, 'rental_rate': 2.99, 'length': 117, 'replacement_cost': 26.99, 'rating': 'G', 'special_features': 'Commentaries,Behind the Scenes', 'category_id': 'unknown'}, {'film_id': 5, 'title': 'AFRICAN EGG', 'description': 'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico', 'rental_duration_days': 6, 'rental_rate': 2.99, 'length': 130, 'replacement_cost': 22.99, 'rating': 'G', 'special_features': 'Deleted Scenes', 'category_id': 'unknown'}, {'film_id': 6, 'title': 'AGENT TRUMAN', 'description': 'A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China', 'rental_duration_days': 3, 'rental_rate': 2.99, 'length': 169, 'replacement_cost': 17.99, 'rating': 'PG', 'special_features': 'Deleted Scenes', 'category_id': '9.0'}, {'film_id': 7, 'title': 'AIRPLANE SIERRA', 'description': 'A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat', 'rental_duration_days': 6, 'rental_rate': 4.99, 'length': 62, 'replacement_cost': 28.99, 'rating': 'PG-13', 'special_features': 'Trailers,Deleted Scenes', 'category_id': 'unknown'}, {'film_id': 8, 'title': 'AIRPORT POLLOCK', 'description': 'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India', 'rental_duration_days': 6, 'rental_rate': 4.99, 'length': 54, 'replacement_cost': 15.99, 'rating': 'R', 'special_features': 'Trailers', 'category_id': 'unknown'}  ... displaying 10 of 1000 total bound parameter sets ...  {'film_id': 999, 'title': 'ZOOLANDER FICTION', 'description': 'A Fateful Reflection of a Waitress And a Boat who must Discover a Sumo Wrestler in Ancient China', 'rental_duration_days': 5, 'rental_rate': 2.99, 'length': 101, 'replacement_cost': 28.99, 'rating': 'R', 'special_features': 'Trailers,Deleted Scenes', 'category_id': 'unknown'}, {'film_id': 1000, 'title': 'ZORRO ARK', 'description': 'A Intrepid Panorama of a Mad Scientist And a Boy who must Redeem a Boy in A Monastery', 'rental_duration_days': 3, 'rental_rate': 4.99, 'length': 50, 'replacement_cost': 18.99, 'rating': 'NC-17', 'special_features': 'Trailers,Commentaries,Behind the Scenes', 'category_id': 'unknown'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [6]:
actor_film.to_sql(name='actor_film',con=cursor,if_exists='append',index=False)

IntegrityError: (pymysql.err.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`video_rental_shop`.`actor_film`, CONSTRAINT `fk_actor_has_film_film1` FOREIGN KEY (`film_id`) REFERENCES `film` (`film_id`))')
[SQL: INSERT INTO actor_film (actor_id, film_id) VALUES (%(actor_id)s, %(film_id)s)]
[parameters: ({'actor_id': 1, 'film_id': 1}, {'actor_id': 10, 'film_id': 1}, {'actor_id': 20, 'film_id': 1}, {'actor_id': 30, 'film_id': 1}, {'actor_id': 1, 'film_id': 23}, {'actor_id': 4, 'film_id': 23}, {'actor_id': 22, 'film_id': 23}, {'actor_id': 1, 'film_id': 25}  ... displaying 10 of 1000 total bound parameter sets ...  {'actor_id': 39, 'film_id': 290}, {'actor_id': 39, 'film_id': 293})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [8]:
category.to_sql(name='category',con=cursor,if_exists='append',index=False)

16

In [9]:
inventory.to_sql(name='inventory',con=cursor,if_exists='append',index=False)

IntegrityError: (pymysql.err.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`video_rental_shop`.`inventory`, CONSTRAINT `fk_inventory_film1` FOREIGN KEY (`film_id`) REFERENCES `film` (`film_id`))')
[SQL: INSERT INTO inventory (inventory_id, film_id, store_id) VALUES (%(inventory_id)s, %(film_id)s, %(store_id)s)]
[parameters: ({'inventory_id': 1, 'film_id': 1, 'store_id': 1}, {'inventory_id': 2, 'film_id': 1, 'store_id': 1}, {'inventory_id': 3, 'film_id': 1, 'store_id': 1}, {'inventory_id': 4, 'film_id': 1, 'store_id': 1}, {'inventory_id': 5, 'film_id': 1, 'store_id': 2}, {'inventory_id': 6, 'film_id': 1, 'store_id': 2}, {'inventory_id': 7, 'film_id': 1, 'store_id': 2}, {'inventory_id': 8, 'film_id': 1, 'store_id': 2}  ... displaying 10 of 1000 total bound parameter sets ...  {'inventory_id': 999, 'film_id': 223, 'store_id': 2}, {'inventory_id': 1000, 'film_id': 223, 'store_id': 2})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [10]:
rental.to_sql(name='rental',con=cursor,if_exists='append',index=False)

IntegrityError: (pymysql.err.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`video_rental_shop`.`rental`, CONSTRAINT `fk_rental_inventory1` FOREIGN KEY (`inventory_id`) REFERENCES `inventory` (`inventory_id`))')
[SQL: INSERT INTO rental (rental_id, rental_date, rental_dow, inventory_id, customer_id, return_date, return_dow, staff_id, days_kept) VALUES (%(rental_id)s, %(rental_date)s, %(rental_dow)s, %(inventory_id)s, %(customer_id)s, %(return_date)s, %(return_dow)s, %(staff_id)s, %(days_kept)s)]
[parameters: ({'rental_id': 1, 'rental_date': '2005-05-24 22:53:30', 'rental_dow': 'Tuesday', 'inventory_id': 367, 'customer_id': 130, 'return_date': '2005-05-26 22:04:30', 'return_dow': 'Thursday', 'staff_id': 1, 'days_kept': 1}, {'rental_id': 2, 'rental_date': '2005-05-24 22:54:33', 'rental_dow': 'Tuesday', 'inventory_id': 1525, 'customer_id': 459, 'return_date': '2005-05-28 19:40:33', 'return_dow': 'Saturday', 'staff_id': 1, 'days_kept': 3}, {'rental_id': 3, 'rental_date': '2005-05-24 23:03:39', 'rental_dow': 'Tuesday', 'inventory_id': 1711, 'customer_id': 408, 'return_date': '2005-06-01 22:12:39', 'return_dow': 'Wednesday', 'staff_id': 1, 'days_kept': 7}, {'rental_id': 4, 'rental_date': '2005-05-24 23:04:41', 'rental_dow': 'Tuesday', 'inventory_id': 2452, 'customer_id': 333, 'return_date': '2005-06-03 01:43:41', 'return_dow': 'Friday', 'staff_id': 2, 'days_kept': 9}, {'rental_id': 5, 'rental_date': '2005-05-24 23:05:21', 'rental_dow': 'Tuesday', 'inventory_id': 2079, 'customer_id': 222, 'return_date': '2005-06-02 04:33:21', 'return_dow': 'Thursday', 'staff_id': 1, 'days_kept': 8}, {'rental_id': 6, 'rental_date': '2005-05-24 23:08:07', 'rental_dow': 'Tuesday', 'inventory_id': 2792, 'customer_id': 549, 'return_date': '2005-05-27 01:32:07', 'return_dow': 'Friday', 'staff_id': 1, 'days_kept': 2}, {'rental_id': 7, 'rental_date': '2005-05-24 23:11:53', 'rental_dow': 'Tuesday', 'inventory_id': 3995, 'customer_id': 269, 'return_date': '2005-05-29 20:34:53', 'return_dow': 'Sunday', 'staff_id': 2, 'days_kept': 4}, {'rental_id': 8, 'rental_date': '2005-05-24 23:31:46', 'rental_dow': 'Tuesday', 'inventory_id': 2346, 'customer_id': 239, 'return_date': '2005-05-27 23:33:46', 'return_dow': 'Friday', 'staff_id': 2, 'days_kept': 3}  ... displaying 10 of 1000 total bound parameter sets ...  {'rental_id': 1000, 'rental_date': '2005-05-31 00:25:56', 'rental_dow': 'Tuesday', 'inventory_id': 1774, 'customer_id': 332, 'return_date': '2005-06-08 19:42:56', 'return_dow': 'Wednesday', 'staff_id': 2, 'days_kept': 8}, {'rental_id': 1001, 'rental_date': '2005-05-31 00:46:31', 'rental_dow': 'Tuesday', 'inventory_id': 1498, 'customer_id': 64, 'return_date': '2005-06-06 06:14:31', 'return_dow': 'Monday', 'staff_id': 2, 'days_kept': 6})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
query = '''

select *

    from actor

;
'''
datos = pd.read_sql(query, cursor)
datos.head()