In [1]:
import pandas as pd
from functions import check_nan
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
actors = pd.read_csv("../data/cleaned/actors_clean.csv")
films = pd.read_csv("../data/cleaned/films_clean.csv")
old_HDD = pd.read_csv("../data/cleaned/old_HDD_clean.csv")

I need to create a database for the common table for actors and films on mySQL. For that, I will use the actors, films and old_HDD data. This is the only way I can join them since the actor and old_HDD share first_name and last_name and film and old_HDD share title. I need to create actors_films and it needs to include actor_id (in actor) and film_id (in film)

In [3]:
actors_subset = actors[['first_name', 'last_name','actor_id']]
films_subset = films[['title','film_id']]

actorss_filmss = old_HDD.merge(actors_subset, on=['first_name', 'last_name'], how='inner')
actorss_filmss = actorss_filmss.merge(films_subset, on='title', how='inner')

In [4]:
actorss_filmss.head()

  first_name last_name                 title  category_id  actor_id  film_id
0   PENELOPE   GUINESS      ACADEMY DINOSAUR            6         1        1
1  CHRISTIAN     GABLE      ACADEMY DINOSAUR            6        10        1
2    LUCILLE     TRACY      ACADEMY DINOSAUR            6        20        1
3     SANDRA      PECK      ACADEMY DINOSAUR            6        30        1
4   PENELOPE   GUINESS  ANACONDA CONFESSIONS            2         1       23

In [5]:
selected_columns=['actor_id','film_id']
actors_films=actorss_filmss[selected_columns]
actors_films.head()

   actor_id  film_id
0         1        1
1        10        1
2        20        1
3        30        1
4         1       23

I merged the three and selected only the columns that I was interested in.

In [6]:
actors_films.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   actor_id  1000 non-null   int64
 1   film_id   1000 non-null   int64
dtypes: int64(2)
memory usage: 23.4 KB

In [7]:
for c in actors_films.select_dtypes(include="integer"):
    
    actors_films[c]=pd.to_numeric(actors_films[c], downcast="integer")

Downcasted integers

In [8]:
actors_films.to_csv("../data/cleaned/actors_films_clean.csv", index=False)

Saved new file

KeyError: 'first_name'

In [10]:
films_category = old_HDD.merge(films, on=['title'], how='inner')
films_category.head()

,first_name,last_name,title,category_id,film_id,description,rental_duration_days,rental_rate,length,replacement_cost,rating,special_features
0,PENELOPE,GUINESS,ACADEMY DINOSAUR,6,1,A Epic Drama of a Feminist And a Mad Scientist...,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"
1,CHRISTIAN,GABLE,ACADEMY DINOSAUR,6,1,A Epic Drama of a Feminist And a Mad Scientist...,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"
2,LUCILLE,TRACY,ACADEMY DINOSAUR,6,1,A Epic Drama of a Feminist And a Mad Scientist...,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"
3,SANDRA,PECK,ACADEMY DINOSAUR,6,1,A Epic Drama of a Feminist And a Mad Scientist...,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"
4,PENELOPE,GUINESS,ANACONDA CONFESSIONS,2,23,A Lacklusture Display of a Dentist And a Denti...,3,0.99,92,9.99,R,"Trailers,Deleted Scenes"

I also have to put category_id on films. I will again use old_HDD for this

In [11]:
films_category.shape

(1000, 12)

In [13]:
films_category=films_category[["category_id", "film_id"]]

Selecting only the columns I am interested in.

In [14]:
films_category.duplicated().any()

True

In [15]:
films_category=films_category.drop_duplicates()

In [16]:
films_category.shape

(614, 2)

Dropped duplicates.